* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

html,
body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

body {
    color: hsl(0, 0%, 12%);
    height: 100vh;
    width: 100vw;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#category-box {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 1000;
    overflow-x: auto;
    overflow-y: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.category-box-inner {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
}

.category-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 100%, 0.8);
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
}

.category-feature p {
    font-size: 11px;
    font-weight: 300;
}

.activeCategory {
    background-color: hsla(0, 0%, 0%, 0.6);
    color: hsl(0, 0%, 100%);
}

.activeCategory p {
    font-weight: 600;
}

.marker {
    left: 0;
    top: 0;
    pointer-events: auto;
    cursor: pointer;
    background-color: transparent !important;
    will-change: transform;
}

.marker-image {
    display: block;
    pointer-events: auto;
    max-width: 30px;
    max-height: 30px;
    filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.2));
    border: 3px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.marker-circle {
    display: none;
    pointer-events: auto;
}

.cluster-box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: translateY(-100%);
    background-color: hsl(0, 0%, 100%);
    filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.2));
    height: auto;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
    border: 1px solid hsl(0, 0%, 80%);
}

.cluster-image {
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.cluster-image img {
    display: block;
    height: auto;
    max-width: 30px;
    max-height: 30px;
}

h1 {
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
}