* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

body {
    background-color: hsl(180, 35%, 5%);
    color: hsl(227, 89%, 90%);
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 350px;
    right: 0;
    width: auto;
    height: auto;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}

#info-box {
    position: relative;
    top: 0px;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid hsla(227, 89%, 90%, 0.2);
}

.info-box-container {
    position: relative;
    top: 26px;
    display: flex;
    width: 90%;
    height: 40px;
    margin: 0 auto;
}

.info-box-inner {
    position: relative;
    bottom: 0;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
    width: 100%;
    padding-right: calc(100% - 80px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.info-box-inner::-webkit-scrollbar {
    display: none;
}

.info-box-spacer {
    flex: 0 0 20px;
    pointer-events: none;
}

.info-feature {
    user-select: none;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    scroll-snap-align: start;
    width: 80px;
    height: auto;
    white-space: nowrap;
}

.info-feature h1 {
    color: hsl(220, 9%, 40%);
    line-height: 0.8;
}

.active-category h1 {
    color: hsl(238, 100%, 95%);
}

.logo {
    position: relative;
    top: 10px;
    left: 15px;
}

.logo a {
    all: unset;
    cursor: pointer;
    display: block;
}

#popup {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 330px;
    height: auto;
    border-radius: 5px;
    border: 1px solid hsl(227, 89%, 90%);
    user-select: none;
}

#popup-container {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 10px;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.popup-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.popup-flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid hsla(227, 89%, 90%, 0.2);
    padding: 20px;
}

.popup-flex-container:last-child {
    border-bottom: none;
}

.popup-flex-container.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid hsl(227, 89%, 90%);
    z-index: 100;
}

.popup-img-container {
    flex: 0 0 50px;
    height: 50px;
    margin-top: 5px;
    background-color: hsl(200, 100%, 50%);
    border-radius: 50%;
}

.popup-img-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    aspect-ratio: 1;
}

.popup-date-container {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-top: 2px;
    border-radius: 10px;
    border: 4px solid hsl(0, 0%, 20%);
}

.popup-month {
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1;
}

.popup-day {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
}

.popup-time-container {
    display: flex;
    align-items: center;
    gap: 16px;
    color: hsl(238, 100%, 95%);
}

.popup-address-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
    color: hsl(238, 100%, 95%);
}

.popup-text-container {
    flex: 1;
}

.title-container {
    margin-bottom: 8px;
}

.title-container * {
  display: inline;
  vertical-align: baseline;
}

.popup-map-icon {
    position: relative;
    font-size: 14px;
    margin-right: 10px;
    top: -2px;
    cursor: pointer;
}

.popup-map-icon:hover {
    color: hsl(227, 89%, 80%);
}

.popup-title {
    cursor: pointer;
}

.popup-title:hover {
    color: hsl(227, 89%, 80%);
}

.popup-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-filter-button {
	position: absolute;
	top: 100px;
	right: 10px;
    color: hsl(180, 35%, 5%);
    background-color: hsla(227, 89%, 90%, 0.8);
	font-size: 10px;
    font-weight: 600;
    padding: 2px 6px;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	z-index: 10;
}

.popup-filter-button:hover {
	background-color: hsl(227, 89%, 80%);
}

.maplibregl-ctrl-bottom-right * {
    font-size: 12px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    color: hsl(238, 100%, 95%);
    line-height: 1.2;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: hsl(238, 100%, 95%);
}

h4 {
    font-size: 18px;
    font-weight: 600;
    color: hsl(238, 100%, 95%);
}

p {
    font-size: 16px;
    font-weight: 400;
}
